.acf-repeater .acf-row .acf-row-handle.order {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.acf-flexible-content .layout .acf-fc-layout-handle,
.acf-repeater .acf-row:nth-child(2n) > .acf-row-handle.remove,
.acf-repeater .acf-row:nth-child(2n) > .acf-row-handle.order {
  background: #000;
  color: #fff;
}
.acf-flexible-content .layout {
  border-color: #000;
}
.acf-flexible-content .layout .acf-fc-layout-handle {
  border: none;
}
.acf-flexible-content .layout .acf-fc-layout-controls .acf-icon {
  color: #fff;
  background: none;
  border: none;
}

.acf-field-gallery > .acf-input > *,
#toplevel_page_lth-pages-settings .wp-first-item {
  display: none !important;
}

.acf-field-gallery .acf-gallery.ui-resizable {
  display: block !important;
}

.postbox-container .acf-field-flexible-content[data-name="row_header_footer"],
.postbox-container .acf-field-flexible-content[data-name="row"] {
  max-width: 680px !important;
  width: 100%;
  margin: 0 auto;
}

.lzb-content-controls
  .components-base-control__field
  > .components-base-control__label {
  display: none;
}

.lazyblock .lzb-content-title {
  margin: 0;
  padding: 0;
  border: none;
}
.block-editor-block-list__block .block-list-appender.block-list-appender {
  bottom: -34px;
  display: flex;
  justify-content: flex-end;
}
.wp-block-columns > .wp-block-column {
  border-bottom: 1px solid #ebebeb;
}
.wp-block-columns .block-editor-block-list__block {
  margin-top: 0;
}
.block-editor-block-list__block
  .wp-block-column
  .block-list-appender.block-list-appender {
  bottom: 0;
}
.lzb-gutenberg-select select[multiple].components-select-control__input {
  height: 100px;
}

pre,
blockquote,
form,
figure,
p,
dl,
ul,
ol {
  margin-bottom: 10px;
}

blockquote {
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 2px solid #000;
  font-style: italic;
}

code {
  padding: 10px;
  margin: 0 10px;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  word-wrap: break-word;
}

pre {
  display: block;
  margin-top: 0;
  overflow: auto;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}

cite {
  font-style: italic;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 10px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 10px;
}

.wp-caption {
  margin-bottom: 10px;
  max-width: 100%;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
  font-style: italic;
}

/* ul {
  list-style-type: disc;
  margin-left: 2em;
} */

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu {
  margin-left: 0;
}