/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .footer-fixed {
    position:fixed;
    bottom:50px;
    right:50px;
    width:50px;
    text-align:center;
    z-index:99996;
}
.footer-fixed ul {
    padding-left: 0;
}
.footer-fixed li {
    margin-top:15px;
    list-style:none;
}
.footer-fixed li:first-child {
    margin-top:0;
}
.footer-fixed a {
    width:50px;
    height:50px;
    background-color:#fff;
    color:#333333;
    border-width:1px;
    border-style:solid;
    border-color:#ebebeb;
    cursor:pointer;
    -webkit-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms;
    font-size:22px;
    line-height:48px;
    display:block;
    border-radius: 50%;
}
.back-to-top {
    width:50px;
    height:50px;
    background-color:#fff;
    color:#333333;
    border-width:1px;
    border-style:solid;
    border-color:#ebebeb;
    cursor:pointer;
    -webkit-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms;
    font-size:22px;
    line-height:48px;
    visibility:hidden;
    opacity:0;
    border-radius: 50%;
}
.back-to-top.active {
    visibility:initial;
    opacity:1;
}

 .veoveo-footer-fixed {
    position: fixed;
    bottom: 50px;
    width: 50px;
    text-align: center;
    z-index: 99999;
}
.veoveo-footer-fixed li {
    list-style: none;
    display: none;
    margin-left: 0;
}
.veoveo-footer-fixed a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #3A3A3C;
    border-width: 1px;
    border-style: solid;
    border-color: #cacaca;
    cursor: pointer;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    font-size: 22px;
    line-height: 48px;
    display: block;
    border-radius: 50%;
}
.veoveo-footer-fixed .active li,
.veoveo-footer-fixed li.chat-plus-minus {
    display: block;
}
.veoveo-footer-fixed .active .icon-plus,
.veoveo-footer-fixed .icon-minus {
    display: none;
}
.veoveo-footer-fixed .active .icon-minus {
    display: block;
}